<div class="store-header">
  <h1 class="store-header__title">
    {{title}}
    <span class="store-header__sup">{{extra}}</span>
  </h1>
  <div class="store-header__links">
    <a [routerLink]="schemaUrl" class="store-header__link">
      <span class="store-header__link-label">Схема</span>
      <svg class="store-header__link-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 16C14.8807 16 16 14.8807 16 13.5C16 12.1193 14.8807 11 13.5 11C12.1193 11 11 12.1193 11 13.5C11 14.8807 12.1193 16 13.5 16Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M13.5 26C20.4036 26 26 20.4036 26 13.5C26 6.59644 20.4036 1 13.5 1C6.59644 1 1 6.59644 1 13.5C1 20.4036 6.59644 26 13.5 26Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M26 13.5H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M6 13.5H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M13.5 6V1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M13.5 26V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
    <a href="#" (click)="goBack($event)" class="store-header__link">
      <span class="store-header__link-label">Назад</span>
      <svg class="store-header__link-icon" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26 13.5C26 6.59644 20.4036 0.999999 13.5 0.999999C6.59644 1 0.999999 6.59644 0.999999 13.5C1 20.4036 6.59644 26 13.5 26C20.4036 26 26 20.4036 26 13.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1258 8.74921C15.4024 9.02584 15.4024 9.47433 15.1258 9.75095L11.3767 13.5001L15.1258 17.2492C15.4024 17.5258 15.4024 17.9743 15.1258 18.2509C14.8492 18.5276 14.4007 18.5276 14.1241 18.2509L9.87405 14.0009C9.59743 13.7243 9.59743 13.2758 9.87405 12.9992L14.1241 8.74921C14.4007 8.47259 14.8492 8.47259 15.1258 8.74921Z" fill="white"></path>
      </svg>
    </a>
  </div>
</div>
