@import "../../styles/common";

.counter {
  &__value,
  &__control {
    display: inline-block;
    vertical-align: middle;
  }

  &__control {
    width: 36px;
    height: 36px;
    padding: 4px;
    border: none;
    background: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
  }

  &__circle {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    padding: 11px 6px;
    border: 2px solid #fff;
  }

  &__symbol {
    position: relative;
    display: block;
    height: 2px;
    background: #fff;

    &::before {
      @extend %_pseudo;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform-origin: center center;
      background: #fff;

      .counter__control_plus & {
        transform: rotate(90deg);
      }
    }
  }

  &__value {
    width: 60px;
    text-align: center;
    font-family: $fontR;
    font-size: 40px;
  }
}
