$colorBg: #000;
$colorText: #fff;
$fontR: 'Circe Regular';
$fontH: 'Times New Roman';
$sizeDesktop: 1400px;

%_pseudo {
  position: absolute;
  display: block;
  content: '';
}

%_clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
  }
}

%_container {
  padding-right: 82px;
  padding-left: 55px;
}
