$colorBg: #000;
$colorText: #fff;
$fontR: 'Circe Regular';
$fontH: 'Times New Roman';

%_pseudo {
  position: absolute;
  display: block;
  content: '';
}

%_clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
  }
}
