<div class="catalog">
  <div class="catalog__header">
    <a href="#" class="catalog__close">
      <span class="catalog__close-label">Закрыть</span>
      <svg class="catalog__close-icon" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L8.62838 8.62838" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M2 8.62842L8.62838 2.00004" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
    <div class="catalog__cart">
      <app-cart-icon></app-cart-icon>
    </div>
  </div>
  <div class="catalog__list">
    <div class="catalog__item" *ngFor="let group of store.groups">
      <div class="catalog__category">
        <h2 class="catalog__category-name" (click)="toggleCategory(group.category)">{{group.category}}</h2>
        <svg class="catalog__category-arrow"
             [class.catalog__category-arrow_up]="isActiveCategory(group.category)"
             viewBox="0 0 27 27" fill="none"
             xmlns="http://www.w3.org/2000/svg"
             (click)="toggleCategory(group.category)">
          <path d="M13.5 26C20.4036 26 26 20.4036 26 13.5C26 6.59644 20.4036 1 13.5 1C6.59644 1 1 6.59644 1 13.5C1 20.4036 6.59644 26 13.5 26Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2509 16.1259C17.9743 16.4025 17.5258 16.4025 17.2492 16.1259L13.5 12.3768L9.75091 16.1259C9.47429 16.4025 9.02579 16.4025 8.74917 16.1259C8.47255 15.8493 8.47255 15.4008 8.74917 15.1242L12.9992 10.8742C13.2758 10.5976 13.7243 10.5976 14.0009 10.8742L18.2509 15.1242C18.5275 15.4008 18.5275 15.8493 18.2509 16.1259Z" fill="white"></path>
        </svg>
      </div>
      <div class="catalog__products"
           [slide-down-duration]=".5"
           [slide-down-easing]="'cubic-bezier(.7,.06,.28,1)'"
           [slide-down]="isActiveCategory(group.category)">
        <app-product-item [product]="product" *ngFor="let product of group.products"></app-product-item>
      </div>
    </div>
  </div>
</div>
