@import "../../styles/common";

.catalog {
  background: $colorBg;
  color: $colorText;
  height: 100%;
  padding: 0 48px 0 90px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 48px 30px 90px;
  }

  &__close {
    &-label {
      color: $colorText;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      width: 11px;
      height: 11px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 17px;
    }
  }

  &__list {
    padding-top: 126px;
    height: 100%;
  }

  &__item {
    margin: 54px 0;
  }

  &__category {
    position: relative;

    &-name {
      margin: 0;
      font-family: $fontH;
      font-size: 34px;
      max-width: 78%;
      display: inline-block;
      cursor: pointer;
    }

    &-arrow {
      width: 28px;
      height: 28px;
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%) scaleY(-1);
      cursor: pointer;
      transition: transform .3s ease .3s;

      &_up {
        transform: translateY(-50%) scaleY(1);
      }
    }
  }

  &__scrollbar {
    --scrollbar-padding: 0;
    --scrollbar-size: 0;
    --scrollbar-thumb-color: transparent;
    --scrollbar-thumb-hover-color: transparent;
  }
}
