@import "../../styles/common";

$catalogBgWidth: 51%;

.catalog {
  font-family: $fontR;
  line-height: 1.3;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(51%);
  transition: transform .8s cubic-bezier(0.84, 0.13, 0.2, 0.96);

  &_loaded {
    transform: none;
  }

  &__bg {
    position: absolute;
    left: $catalogBgWidth;
    width: $catalogBgWidth;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: left .8s cubic-bezier(0.84, 0.13, 0.2, 0.96) .4s;
    height: 100%;

    .catalog_loaded & {
      left: 0;
    }

    &::before {
      @extend %_pseudo;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &__brand {
    position: absolute;
    color: #fff;
    font-family: $fontH;
    margin: 0;
    padding: 141px 113px;
    font-size: 60px;
    width: 100%;
  }

  &__type {
    font-family: $fontR;
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
  }

  &__content {
    position: absolute;
    left: $catalogBgWidth;
    right: 0;
    height: 100%;
    background: $colorBg;
    color: $colorText;
    padding: 0 48px 0 90px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 66px 30px 90px;
  }

  &__close {
    &-label {
      color: $colorText;
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
    }

    &-icon {
      width: 11px;
      height: 11px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 17px;
    }
  }

  &__list {
    padding-top: 126px;
    height: 100%;
  }

  &__item {
    margin: 54px 0;
  }

  &__category {
    position: relative;

    &-name {
      margin: 0;
      font-family: $fontH;
      font-size: 34px;
      max-width: 78%;
      display: inline-block;
      cursor: pointer;
    }

    &-arrow {
      width: 28px;
      height: 28px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) scaleY(-1);
      cursor: pointer;
      transition: transform .3s ease .3s;

      &_up {
        transform: translateY(-50%) scaleY(1);
      }
    }
  }

  &__scrollbar {
    --scrollbar-padding: 0;
    --scrollbar-size: 0;
    --scrollbar-thumb-color: transparent;
    --scrollbar-thumb-hover-color: transparent;
  }
}
